body {
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.boxes {
    background: green;
    padding-top:30%;
    float: left;
    width: 30%;
    margin: 1.6667%;
    border-radius: 20px;    
}

#container {
    margin: 0 auto; /* centers the contaning divs */
    max-width: 600px;
}

#winColor {
    font-size: 2em;
}

#red {
    color: red;
}

#green {
    color: green;
}

#blue {
    color: blue;
}
h1 {
    text-align: center;
    color:white;
    text-transform: uppercase;
    margin: 0;
    padding:80px;
    background-color: #6cc5f8;  
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #6cc5f8;
    border: 0;
    text-transform: uppercase;
    background: white;
    letter-spacing: 1px ;
    height: 100%;
}

button:hover {
    background: #6cc5f8;
    color: white;
}

#status {
    color:white;
    font-weight: bold;
    font-size: 15px;
    padding: 0 8%;
}

.selected {
    background: #6cc5f8;
    color: white;
}

.stripe {
    text-align: center;
    background: white;
    margin-bottom: 20px;
}

